* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  margin: 50px auto;
  width: 90%;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  background-color: whitesmoke;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.form .field-pair {
  display: flex;
  flex-direction: column;
  gap: 4px;

  font-size: 1.2rem;
}

.form input,
.form button {
  padding: 4px;
  font-size: 1.3rem;
}
